@import "../../styles/index.scss";

nav {
    background-color: $primary;
}

.nav.nav-tabs {
    border: none;
    color: #fff;
    border-radius: 0;
    width: 100%;
    background-color: $primary;
    border-bottom: 1px solid $primary;

    @include tablet {
        width: max-content;
    }
}

.nav-item.nav-link {
    border: none;
    background-color: $primary;
    border-radius: 0;
    color: white;
    padding: 0.5rem 1.5rem;
}

.nav-item.nav-link.active {
    background-color: $primary;
    border-bottom: $accent 3px solid;
    color: #fff;
}