@import '../../styles/index';

.login-page {
    background-color: $body-bg-color;

    @include desktop {
        padding: 30px;
    }
}

.login-form {
    height: 100vh;
    width: 100%;

    form {
        position: relative;
        width: 100%;
        z-index: 2;

        @include desktop {
            padding: 10px;
        }
    }

    .fields {
        margin: 1.5rem 0;
    }

    @include desktop {
        height: max-content;
    }
}

.user-profile {

    .edit-action {
        display: none;
        cursor: pointer;
    }

    .list:hover {
        .edit-action {
            display: inherit;
        }
    }

    // .label {
    //     background-color: gainsboro;
    //     width: 100%;
    //     padding: 8px;
    //     font-size: 0.8rem;
    //     text-transform: uppercase;
    //     color: grey;

    //     @include tablet {
    //         background-color: white;
    //         flex-grow: 1;
    //     }
    // }

    .value {
        display: inherit;
    }
}

.booking-list {

    .transaction:nth-child(even) {
        background-color: rgba(220, 220, 220, 0.353);
    }

    .booking {
        display: flex;
        align-items: center;
        padding: 4px;

        text-decoration: none !important;
    }
}

.dashboard {
    .widget {
        padding: 1rem !important;

        .count {
            font-size: 2rem;

            @include tablet {
                font-size: 4rem;
            }
        }

        .action {
            text-transform: uppercase;
            display: flex;
            justify-content: center;
        }

        .card-body::before {
            content: "\f007";
            font-size: 145px;
            position: absolute;
            top: -140px;
            left: -35px;
            color: rgba(158, 132, 91, 0.15);
        }
    }
}

.social-btn {
    @include border-radius;

    border: 1px solid #d4d4d5;
    cursor: pointer;
    padding: 0.25rem;

    .logo {
        width: 25px;
        height: 25px;
    }

    .text {
        padding-left: 0.5rem;
    }

    .btn {
        font-weight: 600;
    }
}