@import "../../styles/index.scss";

#header {
    // background-image: url(../../images/peace.jpg);
    background-color: $primary;
    background-size: cover;
    background-position: center;
    padding: 14px;
    height: 100vh;
    min-height: 550px;

    @include tablet {
        height: max-content;
    }

    @include desktop {
        padding: 50px;
    }

    // .tint-overlay {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     background-color: rgba(37, 63, 114, .9)
    // }

    h1 {
        padding-bottom: 14px;

        @include desktop {
            padding-bottom: 50px;
        }
    }

    i {
        color: $primary;
        opacity: 1;
    }
}

.input-section {
    border-radius: 5px;
    background-color: white;
    padding: 10px 0px;

    .ui.input {
        width: 100%;
    }

    &-inputs {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        @include tablet {
            flex-wrap: nowrap;
            margin: 0px;
        }

        .react-datepicker-wrapper {
            width: 100%;
        }

        .field {
            width: 100%;
        }
    }

    @include tablet {
        padding: 20px 30px;
    }
}

.form-wrap {
    label {
        display: none;
        font-weight: 500;

        @include desktop {
            display: block;
        }
    }
}

.field-box {
    width: -webkit-fill-available;
    position: relative;

    &:last-child {

        @include desktop {
            margin-right: 0px;
        }
    }
}

#search-flight-form {
    form {
        position: relative;
        width: 100%;
        z-index: 2;
    }

    .select-trip {
        padding: 10px 0px 20px;

        span {
            color: $primary;
            font-weight: 700;
            padding: 0px 10px;
            text-transform: uppercase;
            cursor: pointer;

            &:first-child {
                padding-left: 0px;
            }
        }
    }


    .search-btn {
        margin-top: 5px;
    }

    .travellers .default {

        &.text {
            color: rgba(0, 0, 0, .87);
        }
    }

    .toggle-trip {
        position: absolute;
        right: 4px;
        top: 5px;
        display: table;

        @include tablet {
            display: none;
        }

        .label {
            display: table;
            position: relative;
            font-size: 0.6rem;
            bottom: 10px;
            right: 0;
        }
    }

    .toggle-sector {
        background: white;
        border: 1px solid grey;
        cursor: pointer;
        position: absolute;
        margin: 1.2rem 2rem 0rem 0rem;
        padding: 0.5rem 0.6rem;
        right: 0;
        top: 16px;
        transform: rotate(90deg);
        z-index: 10;

        @include tablet {
            display: none;
        }
    }

    .btn-dropdown {
        font-weight: normal;

        i {
            float: left;
        }

        input {
            padding-left: 38px;
        }
    }
}

#passenger-form {
    form {
        width: 100%;
        z-index: 2;
    }

    .card {
        margin-bottom: 8px;
    }
}

.flight-list {

    .flight-placeholder {
        padding: 1rem;
        background-color: white;

        &:first-child {
            margin-top: 0px;
        }
    }
}

.flight-card {
    width: 100%;
    margin: 4px 0px;

    @include transition(.3s);
    // @include border-radius(10px);

    img {
        z-index: 8;
        opacity: 1;
        max-width: 60px !important;
        @include transition(.3s);
    }

    &:hover,
    &:focus {
        box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.08);
        -webkit-transition: all 0.3s ease;
    }
}

.line-from-to {
    border-bottom: 1px solid;
    flex-grow: 1;
    color: #80808040;
    margin: 0 1rem;
}

.search-details {
    position: relative;

    .collapse-btn {
        position: absolute;
        right: 0;
        z-index: 100;
        cursor: pointer;
    }
}

.airline-logos {
    width: 70px;
    margin-right: 8px;
}

.counter {
    .title {
        white-space: nowrap;
    }
}