@import "../../styles/index.scss";

#header {
    // background-image: url(../../images/peace.jpg);
    background-color: $primary;
    background-size: cover;
    background-position: center;
    padding: 14px;
    height: 100vh;
    min-height: 550px;

    @include tablet {
        height: max-content;
    }

    @include desktop {
        padding: 30px;
    }

    // .tint-overlay {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     background-color: rgba(37, 63, 114, .9)
    // }

    h1 {
        padding-bottom: 14px;

        @include desktop {
            padding-bottom: 30px;
        }
    }

    i {
        color: $primary;
        opacity: 1;
    }
}

.input-section {
    border-radius: 5px;
    background-color: white;

    .ui.input {
        width: 100%;
    }

    .react-datepicker-wrapper {
        width: 100%;
    }


    .field {
        width: 100%;
    }

    .row.inputs {

        @include tablet {
            margin-bottom: 30px;
        }
    }

    &-inputs {
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;

        @include tablet {
            flex-wrap: nowrap;
            margin-bottom: 30px;
        }
    }
}

.input-section {
    &.padded {
        padding: 10px 0px;

        @include tablet {
            padding: 20px 30px;
        }

    }
}

.form-wrap {

    .col {
        flex: 0 0 100%;
        max-width: 100%;

        @include tablet {
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
        }
    }

    label {
        display: none;
        font-weight: 500;

        @include desktop {
            display: block;
        }
    }
}

.field-box {
    position: relative;
    padding: 6px 8px;

    &:last-child {
        @include desktop {
            margin-right: 0px;
        }
    }

    @include tablet {
        padding: 0px;
    }
}

.travellers .default {

    &.text {
        color: rgba(0, 0, 0, .87) !important;
    }
}

#search-flight-form {
    form {
        position: relative;
        width: 100%;
        z-index: 2;
    }

    .search-btn {
        margin-top: 2.5px;
    }

    .toggle-trip {
        position: absolute;
        right: 25px;
        top: 4px;
        display: table;

        @include tablet {
            display: none;
        }

        .label {
            display: table;
            position: relative;
            font-size: 0.7rem;
            bottom: 10px;
            right: 0;
        }
    }

    .toggle-sector-mobile {
        position: absolute;
        padding: 0.5rem 0.7rem;
        right: 25px;
        top: 50%;
        z-index: 10;
        border: 1px solid $primary;
        border-radius: 5px;
        background: white;

        @include tablet {
            display: none;
        }

        i {
            transform: rotate(90deg);
        }
    }

    .toggle-sector-desktop {
        display: none;

        @include tablet {
            display: block;
        }
    }
}


.form-menu {
    padding: 10px 0px 20px;
    display: flex;
    text-align: center;

    @include tablet {
        text-align: left;
    }

    span {
        color: $primary;
        font-weight: 700;
        font-size: 0.8rem;
        margin: 0px 10px;
        text-transform: uppercase;
        cursor: pointer;

        &:first-child {
            margin-left: 0px;
        }

        &.active {
            border-bottom: 1px solid $accent;
        }

        @include tablet {
            font-size: 1rem;
        }
    }
}

#passenger-form {
    form {
        width: 100%;
        z-index: 2;
    }

    .card {
        margin-bottom: 8px;
    }
}

.flight-list {

    .flight-placeholder {
        padding: 1rem;
        background-color: white;

        &:first-child {
            margin-top: 0px;
        }
    }
}

.flight-card {
    width: 100%;
    margin: 4px 0px;

    @include transition(.3s);
    // @include border-radius(10px);

    img {
        z-index: 8;
        opacity: 1;
        max-width: 60px !important;
        @include transition(.3s);
    }

    &:hover,
    &:focus {
        box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.08);
        -webkit-transition: all 0.3s ease;
    }
}

.airline-logo {
    width: 50px;
    height: 50px;
}

.lined {
    position: relative;
    border-top: 1px solid #80808040;
    margin: 0 2rem;
}

.search-details {
    position: relative;

    .collapse-btn {
        position: absolute;
        right: 0;
        z-index: 100;
        cursor: pointer;
    }
}

.airline-logos {
    width: 70px;
    margin-right: 8px;
}

.counter {
    .title {
        white-space: nowrap;
    }
}