@import "../../styles/index.scss";

#header {
    // background-image: url(../../images/peace.jpg);
    background-color: $primary;
    background-size: cover;
    background-position: center;
    padding: 10px;
    height: 100vh;
    min-height: 550px;

    @include tablet {
        height: max-content;
    }

    @include desktop {
        padding: 50px;
    }

    // .tint-overlay {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     background-color: rgba(37, 63, 114, .9)
    // }
}

#search-flight-form {

    form {
        position: relative;
        width: 100%;
        z-index: 2;

        @include desktop {
            padding: 30px;
        }
    }

    .select-trip {
        padding: 10px 0px 20px;

        span {
            color: $primary;
            font-weight: 700;
            padding: 0px 10px;
            text-transform: uppercase;
            cursor: pointer;

            &:first-child {
                padding-left: 0px;
            }
        }
    }


    .input-section {
        border-radius: 5px;
        background-color: white;
        padding: 10px 0px;

        &-inputs {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            @include tablet {
                flex-wrap: nowrap;
                margin: 0px;
            }

            .react-datepicker-wrapper {
                width: 100%;
            }

            .field {
                width: 100%;
            }

            .datepicker-input {
                width: 100%;
            }
        }

        @include tablet {
            padding: 20px 30px;
        }

        input,
        select,
        .custom-dropdown {
            font-size: 16px;
        }

        input:focus,
        select:focus {
            outline: none !important;
        }

        .btn-dropdown {
            font-weight: normal;

            i {
                float: left;
            }
        }
    }

    .btn-primary {
        padding: 8px 50px;
        border-radius: 5px;
        font-weight: bold;
        text-transform: uppercase;
        background-color: $secondary;
        border-color: $secondary;
    }
}

.form-control {
    font-size: 16px;
}

#passenger-form {
    form {
        width: 100%;
        z-index: 2;
    }

    .card {
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
        margin-bottom: 8px;
    }


    .input-section {
        background-color: rgba(255, 255, 255, 0.486);
        display: flex;
        flex-wrap: wrap;
        padding: 10px 0px;


        @include tablet {
            flex-wrap: nowrap;
            margin: 0px;
        }
    }
}

.page {
    padding: 4px;
    background-color: $gray-darker;
}

.field-box {
    margin-right: 20px;
    width: -webkit-fill-available;

    &:nth-child(2) {
        margin-right: 0px;
    }

    label {
        display: none;
        font-weight: 500;

        @include desktop {
            display: block;
        }
    }

    &-40 {
        width: 40rem;
    }
}

.flight-card {
    width: 100%;
    position: relative;
    background: $white;
    overflow: hidden;
    z-index: 9;
    bottom: 0;
    margin: 4px 0px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);

    @include transition(.3s);
    // @include border-radius(10px);

    img {
        z-index: 8;
        opacity: 1;
        max-width: 60px !important;
        @include transition(.3s);
    }

    .details-text {
        padding: 0px 10px 10px 20px;
        box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);

        h2,
        span {
            text-decoration: none !important;
        }

        h2 {
            font-size: 20px;
            font-weight: 400;
            margin: 0 0 10px 0;
            color: $primary;
        }

        span {
            color: lighten($black, 70%);
            font-size: 16px;
            font-weight: 400;
        }

        p {
            color: $black;
            @include transition(.5s);
        }

        span.btn {
            opacity: 1;
            visibility: visible;
            bottom: 0;
            background: lighten($black, 10%);
            border: 2px solid lighten($black, 10%) !important;
            // bottom: -20px;
            position: relative;
            @include transition(.5s);
        }
    }

    &:hover,
    &:focus {
        box-shadow: 8px 8px 8px 0px rgba(0, 0, 0, 0.08);
        -webkit-transition: all 0.3s ease;

        span.btn {
            opacity: 1;
            visibility: visible;
            bottom: 0px;
            border: 2px solid lighten($primary, 5%) !important;
            background: lighten($primary, 5%) !important;
        }
    }
}


.modal-header {
    padding: 0.5rem 1rem !important;
    background-color: $primary;
}

.line-from-to {
    border-bottom: 1px solid;
    flex-grow: 1;
    color: #80808040;
}

.toggle-trip {
    position: absolute;
    right: 0;
    top: 85px;
    display: table;

    @include tablet {
        display: none;
    }

    .label {
        display: table;
        position: relative;
        font-size: 0.6rem;
        bottom: 10px;
        right: 4px;
    }
}

.toggle-sector {
    background: white;
    border: 1px solid grey;
    cursor: pointer;
    position: absolute;
    margin: 1.2rem 2rem 0rem 0rem;
    padding: 0.5rem 0.6rem;
    right: 0;
    top: 16px;
    transform: rotate(90deg);

    @include tablet {
        display: none;
    }
}

select::-ms-expand {
    display: none;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
}

.filter-flights {
    .custom-dropdown {
        padding: 10px;
        border: 1px solid;
    }

    .custom-dropdown-menu {
        border: 1px solid $gray;
        z-index: 1020;

        .menu-item {
            cursor: pointer;
            display: flex;
            align-items: center;

            &:hover {
                background-color: $primary;
            }
        }

        .active {
            background-color: lightblue;
        }
    }
}

.airline-logos {
    img {
        width: 70px;
        margin-right: 8px;
    }
}

.counter {
    .title {
        white-space: nowrap;
    }
}

.semantic-input-group {
    width: 100% !important;

    .dropdown {
        width: max-content !important;
    }
}