.fas {

    &.departure {
        transform: rotate(-40deg);
    }

    &.arrival {
        transform: rotate(40deg);
    }
}

i.menu {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid $gray;
    cursor: pointer;
}