@import "./overrides";
@import "./mixins";
@import "bootstrap";
@import './colors';
@import "./typography";
@import "./icomoon";
@import "./pdf";
@import "material-ui";

$fontColor: #252525;
$font14: 14px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font24: 24px;
$font28: 28px;
$font30: 30px;
$font40: 40px;

* {
    &:focus {
        outline: none;
    }

    a {
        text-decoration: none;
    }
}

body {
    font-family: $font-secondary;
    color: $fontColor;
    font-size: $font16;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-primary;
    color: $primary;
    font-size: 36px;
    margin-bottom: 50px;
}

h1 {
    font-size: $font24;
    margin-bottom: 0px;
    padding-top: 50px;
}

h2 {}

h3 {
    font-size: $font18;
    font-family: $font-secondary;
}

h4 {
    font-size: $font16;
}

h5 {
    font-size: $font14;
}

h2.border-btm:after {
    border-bottom: 2px solid $secondary;
    display: block;
    content: ' ';
    padding-bottom: 20px;
    width: 50px;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bg {
    &-fb {
        background-color: $fb-color;
    }

    &-accent {
        background-color: $accent;
    }

    &-gray {
        background-color: $gray;
    }

    &-gray-light {
        background-color: $gray-light;
    }

    &-body {
        background-color: $body-bg-color;
    }

    &-none {
        background-color: transaparent;
        border: none;
    }
}

input {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    margin-right: 10px;
    border: 1px solid #dddddd;
}

input:read-only {
    background-color: white;
}

.row {
    margin: 0px;
}

img {
    width: 100%;
    height: 100%;
}

.react-datepicker__navigation--next {
    background: url(../images/right-arrow.png) no-repeat;
    width: 15px;
    height: 15px;
    border: none;
}

.navbar {
    .navbar-brand {
        font-size: 1rem;
        padding: 0.3125rem 1rem;

        @include desktop {
            font-size: 1.2rem;
        }
    }

    .navbar-toggler {
        padding: 0.25rem;

        &-icon {
            height: 20px;
            width: 20px;
        }
    }

    .dropdown {
        background: #ffffff00 !important;
        padding: 0;
        border: none !important;
    }
}

.sidebar {
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 42px;
    z-index: 100;

    @include transition(.3s);

    .list-group-item {
        border: 0px;
        padding: 10px 10px;

        i {
            font-size: $font18;
        }
    }
}

.sidebar.closed {
    right: -100vw;
}

.sidebar.show {
    left: 0px;
}

.side-nav {
    background-color: white;
    height: 100vh;

    .sidebar-item {
        padding: 10px 10px;
    }
}

.form-group {
    margin: 4px;

    @include tablet {
        margin-bottom: 30px;
        margin-right: 14px;
    }
}

.form-control {
    margin: 2px;
    @include border-radius(0px);
    border: 1px solid #dddddd;
    height: 44px;
    border-radius: 3px;
}

.modal {
    .modal-dialog {
        display: flex;
        min-height: 100vh;
        max-height: max-content;
        margin: auto;

        @include tablet {
            height: auto;
        }
    }
}

.btn {
    @include border-radius(0px);
}

.btn-primary {
    padding: 8px 50px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;

    &-inverted {
        padding: 8px 50px;
        border-radius: 5px;
        font-weight: bold;
        text-transform: uppercase;
        background: white;
        color: $primary;
        border-color: $primary;
    }
}

.btn-outline-primary {
    padding: 8px 50px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;

    &-inverted {
        padding: 8px 50px;
        border-radius: 5px;
        font-weight: bold;
        text-transform: uppercase;
        border-color: $primary;

    }

}

.btn-secondary {
    padding: 8px 50px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: $secondary;

    &-inverted {
        padding: 8px 50px;
        border-radius: 5px;
        font-weight: bold;
        text-transform: uppercase;
        background: white;
        color: $secondary;
        border-color: $secondary;
    }

    &.bg-none {
        background-color: transparent;
        border: none;
    }
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.card {
    @include border-radius(0px);
}

.card-header {
    background-color: white;
}

.card-body {
    padding: 0.5rem;

    @include desktop {
        padding: 1rem;
    }
}

.container {
    padding: 0px;
}

.select-countries {
    max-height: 400px;

    .list {
        overflow-y: scroll;
    }
}

.icon-input {
    font-family: $font-secondary !important;

    input,
    select,
    button {
        font-family: $font-secondary !important;
        border: none;
        height: max-content;
        background-color: inherit;
        color: #565656;

        &:focus {
            box-shadow: none;
        }
    }
}

.dropdown {
    &:hover {
        cursor: pointer;
    }
}

.custom-dropdown {
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    align-items: center;

    i.icon-chevron-down {
        float: right;
    }
}

.custom-dropdown-menu {
    padding: 0.5rem;
    background: white;
    position: absolute;
    transform: translate(0px, 15px);
    border: 1px solid lightgray;
    min-width: 100%;
}

.right-0 {
    right: 0;
}

.validation-msg {
    font-size: small;
    color: red;
}

.timer {
    span {
        background-color: $primary;
        padding: 8px;
        z-index: 20;
    }
}

.circular-icon {
    padding: 8px;
    background-color: $gray;
    color: $white;
    border-radius: 50%;
    cursor: pointer;
}

.card-item {
    min-width: 260px;
    min-height: 275px;
    display: block;
    position: relative;
    background: $white;
    overflow: hidden;
    z-index: 9;
    bottom: 0;
    margin-bottom: 30px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
    width: min-content;
    @include border-radius(5px);
    @include transition(.3s);

    figure {
        width: auto;
        min-height: 190px;
        max-height: 190px;
        z-index: 12;
        position: relative;
        overflow: hidden;

        .overlay {
            opacity: 0;
            visibility: hidden;
            z-index: 10;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            background: rgba(37, 63, 114, 0.7);
            @include transition(.7s);

            i {
                z-index: 12;
                color: $white;
                font-size: 30px;
                position: absolute;
                margin-left: -15px;
                margin-top: -45px;
                top: 50%;
                left: 50%;
                @include transition(.3s);
            }
        }
    }

    img {
        z-index: 8;
        opacity: 1;
        @include transition(.3s);
    }

    .details-text {
        padding: 0px 10px 10px 20px;

        h2,
        span {
            text-decoration: none !important;
        }

        h2 {
            font-size: 20px;
            font-weight: 400;
            margin: 0 0 10px 0;
            color: $primary;
        }

        span {
            color: lighten($black, 70%);
            font-size: 16px;
            font-weight: 400;
        }

        p {
            color: $black;
            @include transition(.5s);
        }

        span.btn {
            color: $white !important;
            opacity: 1;
            visibility: visible;
            bottom: 0;
            background: lighten($black, 10%);
            border: 2px solid lighten($black, 10%) !important;
            // bottom: -20px;
            position: relative;
            @include transition(.5s);
        }
    }

    &:hover,
    &:focus {
        bottom: 0;
        box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
        @include border-radius(5px);

        img {
            transform: scale(1.2);
        }

        span.btn {
            opacity: 1;
            visibility: visible;
            bottom: 0px;
            border: 2px solid lighten($primary, 5%) !important;
            background: lighten($primary, 5%) !important;
        }

        figure {
            .overlay {
                opacity: 1;
                visibility: visible;

                i {
                    margin-top: -15px;
                }
            }
        }

        h2,
        span {
            text-decoration: none !important;
        }
    }
}

.table {
    margin: 20px 0;
}

.table-header {
    display: flex;
    line-height: 24px;
    font-size: 16px;
    padding: 0 10px;
    justify-content: space-between;
}

.table-empty {
    margin: 200px;
    text-align: center;
    font-size: 16px;
}

.table-row {
    display: flex;
    line-height: 24px;
    white-space: nowrap;
    margin: 10px 0;
    padding: 10px;
    background: #ffffff;
    border: 1px solid #e3e3e3;
}

.table-header>span {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
}

.table-row>span {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
}

.button-inline {
    border-width: 0;
    background: transparent;
    color: inherit;
    text-align: inherit;
    -webkit-font-smoothing: inherit;
    padding: 0;
    font-size: inherit;
    cursor: pointer;
}

.button-active {
    border-radius: 0;
    border-bottom: 1px solid #38bb6c;
}