@import "./overrides";
@import "./mixins";
@import "bootstrap";
@import "./typography";
@import "./icomoon";

$fontColor: #252525;
$font14: 14px;
$font16: 16px;
$font18: 18px;
$font20: 20px;
$font24: 24px;
$font28: 28px;
$font30: 30px;
$font40: 40px;

* {
    &:focus {
        outline: none;
    }

    a {
        text-decoration: none;
    }
}

body {
    font-family: $font-secondary;
    color: $fontColor;
    font-size: $font16;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-primary;
    color: $primary;
    font-size: 36px;
    margin-bottom: 50px;
}

h1 {
    font-size: $font24;
    margin-bottom: 0px;
    padding-top: 50px;
}

h2 {}

h3 {
    font-size: $font18;
    font-family: $font-secondary;
}

h4 {
    font-size: $font16;
}

h5 {
    font-size: $font14;
}

h2.border-btm:after {
    border-bottom: 2px solid $secondary;
    display: block;
    content: ' ';
    padding-bottom: 20px;
    width: 50px;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bg {
    &-fb {
        background-color: $fb-color;
    }

    &-accent {
        background-color: $accent;
    }

    &-gray {
        background-color: $gray;
    }

    &-gray-light {
        background-color: $gray-light;
    }

    &-body {
        background-color: $body-bg-color;
    }

    &-none {
        background-color: transaparent;
        border: none;
    }
}

.row {
    margin: 0px;
}

.container {
    padding: 0px;
}

.btn {
    @include border-radius(5px);
    font-weight: bold;
    text-transform: uppercase;

    &.bg-none {
        background-color: transparent;
        border: none;
    }
}

input {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    margin-right: 10px;
    border: 1px solid #dddddd;
}

input:read-only {
    background-color: white;
}


// select::-ms-expand {
//     display: none;
// }

// select {
//     -moz-appearance: none;
//     -webkit-appearance: none;
// }

img {
    width: 100%;
    height: 100%;
}

section {
    padding: 100px 0px;
}

.navbar {
    .navbar-brand {
        font-size: 1rem;
        padding: 0.3125rem 1rem;

        @include desktop {
            font-size: 1.2rem;
        }
    }

    .navbar-toggler {
        padding: 0.25rem;

        &-icon {
            height: 20px;
            width: 20px;
        }
    }
}

.form-group {
    margin: 4px;

    @include tablet {
        margin-bottom: 30px;
        margin-right: 14px;
    }
}

.form-control {
    border: 1px solid #dddddd;
    border-radius: 3px;
    height: 44px;
    margin: 2px;
    @include border-radius(0px);
}

.modal {
    .modal-header {
        padding: 0.5rem 1rem !important;
        background-color: $primary;
    }

    .modal-dialog {
        display: flex;
        min-height: 100vh;
        max-height: max-content;
        margin: auto;

        @include tablet {
            height: auto;
        }
    }
}

.card {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
    @include border-radius(0px);
    background-color: $white;
    overflow: hidden;
}

.card-header {
    background-color: white;
}

.card-body {
    padding: 0.5rem;

    @include desktop {
        padding: 1rem;
    }
}


.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}


.side-nav {
    background-color: white;
    height: 100vh;

    .sidebar-item {
        padding: 10px 10px;
        border: 0px;
        padding: 10px 10px;

        i {
            font-size: $font18;
        }
    }
}


.slide {
    position: fixed;
    width: 100%;
    top: 42px;
    z-index: 100;
    @include transition(.3s);

    &.closed {
        right: -100vw;
    }

    &.show {
        left: 0px;
    }
}

.btn-large {
    padding: 8px 50px;
}

.select-countries {
    max-height: 400px;

    .list {
        overflow-y: scroll;
    }
}

.dropdown {
    &:hover {
        cursor: pointer;
    }
}

.custom-dropdown {
    white-space: nowrap;
    display: flex;
    align-items: center;

    i.icon-chevron-down {
        float: right;
    }

    .menu {
        padding: 0.5rem;
        background: white;
        position: absolute;
        transform: translate(0px, 65px);
        border: 1px solid lightgray;
        min-width: 100%;
        color: black;
    }
}

.right-0 {
    right: 0;
}

.validation-msg {
    font-size: small;
    color: red;
}

.timer {
    span {
        background-color: $primary;
        padding: 8px;
        z-index: 20;
    }
}

.card-widget {
    min-width: 260px;
    min-height: 275px;
    display: block;
    position: relative;
    background: $white;
    overflow: hidden;
    z-index: 9;
    bottom: 0;
    margin-bottom: 30px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
    width: min-content;
    @include border-radius(5px);
    @include transition(.3s);

    figure {
        width: auto;
        min-height: 190px;
        max-height: 190px;
        z-index: 12;
        position: relative;
        overflow: hidden;

        .overlay {
            opacity: 0;
            visibility: hidden;
            z-index: 10;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
            background: rgba(37, 63, 114, 0.7);
            @include transition(.7s);
        }

        img {
            z-index: 8;
            opacity: 1;
            @include transition(.3s);
        }
    }

    .details {
        padding: 0 10px 10px 20px;
    }

    &:hover,
    &:focus {
        bottom: 0;
        box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.19);
        @include border-radius(5px);

        img {
            transform: scale(1.2);
        }

        .overlay {
            opacity: 1;
            visibility: visible;
        }
    }
}

footer {
    background-color: #d6d6d6;
    padding: 2em 0;
    clear: both;

    .social-icons {
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0;
            list-style: none;
            display: inline-block;
            zoom: 1;

            a {
                display: inline-block;
                zoom: 1;
                *display: inline;
                color: $primary;
                padding-left: 10px;
                padding-right: 10px;

                i {
                    font-size: 20px;
                }

            }
        }
    }
}