$danger: #d9534f !default;
$primary: #253f72;
$info: #5bc0de !default;
$secondary: #9e845b;
$success: #5cb85c !default;
$warning: #f0ad4e !default;

$black: #000;
$gray: #d6d6d6;
$gray-dark: darken($gray, 20%) !default;
$gray-darker: darken($gray, 13.5%) !default;
$gray-light: lighten($gray, 20.7%) !default;
$gray-lighter: lighten($gray, 46.5%) !default;
$white: #fff;

$primary-light: rgba($primary, .1);

$fb-color: #4267B2;
$google-color: #53A1DB;
$accent: #09C6AB;

$link-color: #253f72;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

$body-bg-color: #F4F7FC;
$selection-color: #f9f6f0;
$overlay-color: #3b3d40;

$form-group-margin-bottom: 30px;
$input-border-focus: $primary;

$text-color: #727272 !default;

$normal-border-radius: 5px;