$danger: #d9534f !default;
$primary: #253f72;
$info: #5bc0de !default;
$secondary: #9e845b;
$success: #5cb85c !default;
$warning: #f0ad4e !default;

$black: #000;
$gray: #ccc;
$gray: lighten($gray, 33.5%) !default; // #555
$gray-dark: lighten($gray, 20%) !default; // #333
$gray-darker: lighten($gray, 13.5%) !default; // #222
$gray-light: lighten($gray, 46.7%) !default; // #777
$gray-lighter: lighten($gray, 93.5%) !default; // #eee
$white: #fff;

$fb-color: #4267B2;
$accent: #09C6AB;

$link-color: #253f72;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

$body-bg-color: #F4F7FC;
$selection-color: #f9f6f0;
$overlay-color: #3b3d40;

$form-group-margin-bottom: 30px;
$input-border-focus: $primary;

$text-color: #727272 !default;

$normal-border-radius: 5px;


.categories {

    .owl-theme {
        .owl-item {
            display: flex;
            justify-content: space-around;
        }

        .owl-nav {
            position: absolute;
            top: 20%;
            left: 0;
            right: 0;

            .owl-prev,
            .owl-next {
                padding: 10px !important;
                color: black;
                font-weight: bold;
                font-size: 2rem;
                position: absolute;
                height: 100px;
                color: inherit;
                background: none;
                border: none;
                z-index: 100;
                background-color: rgba(109, 108, 108, 0.78);
                color: white;

                i {
                    font-size: 2.5rem;
                    color: #cecece;
                }
            }

            .owl-prev {
                left: -70px;
            }

            .owl-next {
                right: -50px;
            }
        }
    }
}