.view-font{
	font-size: 24px;
}

.table-bg{
	background-color: #A4D3EE;
}

.booking-text{
	font-size: 14px;
}

.mar-left{
	margin-left: 7rem;
	padding-left: 7rem;
}

.logo-pos{
	position: absolute;
	right: 205px;
	top: 57px;
}

.margin-left{
	margin-left: 4em; 
}