.ui {
    &.menu {
        margin: 0px;
    }

    &.segment {
        margin-top: 0;
        border: none !important;
        box-shadow: none;
        padding: 0;
    }

    .default {
        font-weight: normal;
    }
}

.semantic-input-group {
    width: 100% !important;

    .dropdown {
        width: max-content !important;
    }
}

[title~=Next],
[title~=Previous] {

    &[title~=year] {
        display: none !important;
    }
}