.ui {
    &.menu {
        margin: 0px;
    }

    &.segment {
        margin-top: 0;
        border: none !important;
        box-shadow: none;
        padding: 0;
    }
}

.semantic-input-group {
    width: 100% !important;

    input {
        z-index: 11;
    }

    .search {
        width: max-content !important;
        min-width: 100px;
        background-color: white;
        border: 1px solid gainsboro;
        z-index: 10;

        &.active {
            background-color: white;

        }

        i {
            float: right;
        }
    }
}

[title~=Next],
[title~=Previous] {

    &[title~=year] {
        display: none !important;
    }
}

.field-box {
    .multiple {
        display: flex !important;

        .label {
            display: flex !important;
            align-items: center !important;
        }
    }

    .default {
        font-weight: normal;
    }
}

.ui.dropdown {
    &.btn-dropdown {
        font-weight: normal;

        i {
            float: left;
        }

        input {
            padding-left: 38px !important;
        }
    }
}

.become-partner {
    .ui {
        &.steps {
            margin: 0 1rem;
        }
    }
}


.ui {
    &.modals {
        z-index: 10000;
    }
}

.ui.modal .scrolling.content {
    max-height: calc(100vh - 10.5em);
    overflow: auto;
}

.modals.dimmer .ui.scrolling.modal {
    margin: 0;
    width: 100%;
    height: auto;

    @include tablet {
        margin: 1rem auto;
        min-width: 600px;
        width: 50vw;
    }
}