.ui {
    &.menu {
        margin: 0px;
    }

    &.segment {
        margin-top: 0;
        border: none !important;
        box-shadow: none;
        padding: 0;
    }
}

.semantic-input-group {
    width: 100% !important;

    .search {
        width: max-content !important;
        background-color: white;
        border: 1px solid gainsboro;

        &.active {
            background-color: white;

        }
    }
}

[title~=Next],
[title~=Previous] {

    &[title~=year] {
        display: none !important;
    }
}

.field-box {
    .multiple {
        display: flex !important;

        .label {
            display: flex !important;
            align-items: center !important;
        }
    }

    .default {
        font-weight: normal;
    }
}

.ui.dropdown {
    &.btn-dropdown {
        font-weight: normal;

        i {
            float: left;
        }

        input {
            padding-left: 38px !important;
        }
    }
}