$font-primary: 'Spectral';
$font-secondary: 'Source Sans Pro';

.text {
    &-normal {
        font-size: 2rem;
    }

    &-medium {
        font-size: 18px;
    }

    &-large {
        font-size: 18px;

        @include tablet {
            font-size: 36px;
        }
    }

    &-larger {
        font-size: 3rem;
    }

    &-small {
        font-size: 14px;

        @include tablet {
            font-size: 14px;
        }
    }

    &-smaller {
        font-size: 0.5rem;
    }

    &-strong {
        font-weight: 600;
    }

    &-italic {
        font-style: italic;
    }

    &-bold {
        font-weight: 600;
    }
}

.font-primary {
    font-family: $font-primary;
}

.font-secondary {
    font-family: $font-secondary;
}