$font-primary: 'Lato',
Arial,
sans-serif;

$font-family-sans-serif: // Safari for OS X and iOS (San Francisco)
-apple-system,
// Chrome < 56 for OS X (San Francisco)
BlinkMacSystemFont,
// Windows
"Segoe UI",
// Android
"Roboto",
// Basic web fallback
"Helvetica Neue",
Arial,
sans-serif,
// Emoji fonts
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol" !default;

.text {
    &-normal {
        font-size: 2rem;
    }

    &-large {
        font-size: 2rem;
    }

    &-larger {
        font-size: 3rem;
    }

    &-small {
        font-size: 0.8rem;
    }

    &-smaller {
        font-size: 0.5rem;
    }

    &-strong {
        font-weight: 600;
    }

    &-italic {
        font-style: italic;
    }

    &-bold {
        font-weight: 600;
    }
}